<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="css/plugins.css" />
		<link rel="stylesheet" href="css/main.css" />
		<link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
		<title>Petmark ❤️</title>
	</head>
	<body class="">
		<div class="site-wrapper">
			<header class="header petmark-header-1">
				<div class="header-wrapper">
					<!-- Site Wrapper Starts -->
					<div class="header-top bg-ash">
						<div class="container">
							<div class="row align-items-center">
								<div class="col-sm-6 text-center text-sm-start">
									<p class="font-weight-300">Chào mừng đến Petmark</p>
								</div>
							</div>
						</div>
					</div>
					<div class="header-middle">
						<div class="container">
							<div class="row align-items-center justify-content-center">
								<!-- Template Logo -->
								<div class="col-lg-3 col-md-12 col-sm-4">
									<div class="site-brand  text-center text-lg-start">
										<a href="index.html" class="brand-image">
											<img src="image/main-logo.png" alt="">
										</a>
									</div>
								</div>
								<!-- Category With Search -->
								<div class="col-lg-5 col-md-7 order-3 order-md-2">
									<form class="category-widget">
										<input type="text" name="search" placeholder="Tìm kiếm sản phẩm ">
										<button class="search-submit"><i class="fas fa-search"></i></button>
									</form>
								</div>
								<!-- Call Login & Track of Order -->
								<div class="col-lg-4 col-md-5 col-sm-8 order-2 order-md-3">
									<div class="header-widget-2 text-center text-sm-end ">
										<div class="call-widget">
											<p>Liên hệ : <i class="icon ion-ios-telephone"></i><span
												class="font-weight-mid">+84-012
											345 678</span></p>
										</div>
										<ul class="header-links">
											<li><a href="login-register.html"><i class="fas fa-user"></i> Đăng nhập hoặc
												đăng ký
											</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="header-nav-wrapper">
					<div class="container">
						<div class="header-bottom-inner">
							<div class="row g-0">
								
								<!-- Main Menu -->
								<div class="col-lg-7 d-none d-lg-block">
									<nav class="main-navigation l-widget">
										<!-- Mainmenu Start -->
										<ul class="mainmenu">
											<li class="mainmenu__item  ">
												<a href="index.html" class="mainmenu__link">Trang chủ</a>
											</li>
											<li class="mainmenu__item ">
												<a href="shop-left-sidebar.html" class="mainmenu__link"> Sản phẩm</a>
											</li>
											<li class="mainmenu__item ">
												<a href="faq.html" class="mainmenu__link">Giải đáp</a>
											</li>
											<li class="mainmenu__item ">
												<a href="contact.html" class="mainmenu__link">Liên hệ</a>
											</li>
											<li class="mainmenu__item ">
												<a href="cart.html" class="mainmenu__link">Giỏ hàng</a>
											</li>
											<li class="mainmenu__item ">
												<a href="blog-list-left-sidebar.html" class="mainmenu__link">Tin tức</a>
											</li>
											
											
										</ul>
										<!-- Mainmenu End -->
									</nav>
								</div>
								<!-- Cart block-->
								<div class="col-lg-2 col-6 offset-6 offset-md-0 col-md-3 order-3" style="margin-left: 25%">
                                    <div class="cart-widget-wrapper slide-down-wrapper">
                                        <div class="cart-widget slide-down--btn">
                                            <div class="cart-icon">
                                                <i class="ion-bag"></i>
                                                <span class="cart-count-badge">
                                                    1
                                                </span>
                                            </div>
                                            <div class="cart-text">
                                                <span class="d-block"></span>
                                                <strong><span class="amount"><span
                                                    class="currencySymbol">500 VND</strong>
                                                </div>
                                            </div>
                                            <div class="slide-down--item ">
                                                <div class="cart-widget-box">
                                                    <ul class="cart-items">
                                                        <li class="single-cart">
                                                            <a href="#" class="cart-product">
                                                                <div class="cart-product-img">
                                                                    <img src="image/product/home-2/product-1.png"
                                                                    alt="Selected Products">
                                                                </div>
                                                                <div class="product-details">
                                                                    <h4 class="product-details--title"> Decamaxx</h4>
                                                                    <span class="product-details--price">1 x 500 VND</span>
                                                                </div>
                                                                <span class="cart-cross">x</span>
                                                            </a>
                                                        </li>
                                                        <li class="single-cart">
                                                            <div class="cart-product__subtotal">
                                                                <span class="subtotal--title">Tổng phụ</span>
                                                                <span class="subtotal--price">500 VND</span>
                                                            </div>
                                                        </li>
                                                        <li class="single-cart">
                                                            <div class="cart-buttons">
                                                                <a href="cart.html" class="btn btn-outlined">Xem Giỏ</a>
                                                                <a href="checkout.html" class="btn btn-outlined">Thanh toán</a>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Mobile Menu -->
                                    <div class="col-12 d-flex d-lg-none order-2 mobile-absolute-menu">
                                        <!-- Main Mobile Menu Start -->
                                        <div class="mobile-menu"></div>
                                        <!-- Main Mobile Menu End -->
                                    </div>
                                </div>
							</div>
							<div class="row">
							</div>
						</div>
						<div class="fixed-header sticky-init">
							<div class="container">
								<div class="row align-items-center">
									<div class="col-lg-3">
										<!-- Sticky Logo Start -->
										<a class="sticky-logo" href="index.html">
											<img src="image/main-logo.png" alt="logo">
										</a>
										<!-- Sticky Logo End -->
									</div>
									<div class="col-lg-9">
										<!-- Sticky Mainmenu Start -->
										<nav class="sticky-navigation">
											<ul class="mainmenu sticky-menu">
											<li class="mainmenu__item menu-item-has-children sticky-has-child "></li
										</ul>
										<div class="sticky-mobile-menu  d-lg-none">
											<span class="sticky-menu-btn"></span>
										</div>
									</nav>
									<!-- Sticky Mainmenu End -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tài khoản của tôi</li>
					</ol>
				</div>
			</nav>
			<div class="page-section sp-inner-page">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="row">
								<!-- My Account Tab Menu Start -->
								<div class="col-lg-3 col-12">
									<div class="myaccount-tab-menu nav" role="tablist">
										<a href="#dashboad" class="active" data-bs-toggle="tab"><i class="fas fa-tachometer-alt"></i>
										Bộ điều khiển</a>
										<a href="#orders" data-bs-toggle="tab"><i class="fa fa-cart-arrow-down"></i> Lịch sử mua hàng</a>
										<a href="#payment-method" data-bs-toggle="tab"><i class="fa fa-credit-card"></i> Phương thức thanh toán</a>
										<a href="#address-edit" data-bs-toggle="tab"><i class="fa fa-map-marker"></i> Địa chỉ thanh toán</a>
										<a href="#account-info" data-bs-toggle="tab"><i class="fa fa-user"></i> Cập nhật tài khoản</a>
										<a href="login-register.html"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
									</div>
								</div>
								<!-- My Account Tab Menu End -->
								<!-- My Account Tab Content Start -->
								<div class="col-lg-9 col-12 mt--30 mt-lg-0">
									<div class="tab-content" id="myaccountContent">
										<!-- Single Tab Content Start -->
										<div class="tab-pane fade show active" id="dashboad" role="tabpanel">
											<div class="myaccount-content">
												<h3>Bộ điều khiển</h3>
												<div class="welcome mb-20">
													<p>Xin chào, <strong>Nguyễn Văn A</strong> (Nếu không phải <strong>A !</strong><a href="login-register.html" class="logout"> Đăng xuất</a>)</p>
												</div>
												<p class="mb-0">Từ Bảng điều khiển, bạn có thể dễ dàng kiểm tra và xem các đơn đặt hàng gần đây, quản lý địa chỉ giao hàng và thanh toán cũng như chỉnh sửa mật khẩu và chi tiết tài khoản của mình.
												</p>
											</div>
										</div>
										<!-- Single Tab Content End -->
										<!-- Single Tab Content Start -->
										<div class="tab-pane fade" id="orders" role="tabpanel">
											<div class="myaccount-content">
												<h3>Orders</h3>
												<div class="myaccount-table table-responsive text-center">
													<table class="table table-bordered">
														<thead class="thead-light">
															<tr>
																<th>STT</th>
																<th>Tên mặt hàng</th>
																<th>Số lượng</th>
																<th>Ngày đặt hàng</th>
																<th>Trạng thái</th>
																<th>Tổng tiền</th>
																<th>Hoạt động</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>1</td>
																<td> VIAMOX LA 20%</td>
																<td>2</td>
																<td>08/11/2022</td>
																<td>chưa giải quyết
																</td>
																<td>250.000 VNĐ</td>
																<td><a href="cart.html" class="btn">Xem sản phẩm</a></td>
															</tr>
															<tr>
																<td>2</td>
																<td>GLUCO KCE CAPTOX</td>
																<td>1</td>
																<td>04/11/2022</td>
																<td>Đã phê duyệt</td>
																<td>99.000 VNĐ</td>
																<td><a href="cart.html" class="btn">Xem Sản phẩm</a></td>
															</tr>
															<tr>
																<td>3</td>
																<td>ALPHA TRYPSIN WSP</td>
																<td>
																	4
																</td>
																<td>21/05/2022</td>
																<td>Đã Giao</td>
																<td>330.000 VNĐ</td>
																<td><a href="cart.html" class="btn">Xem Sản phẩm</a></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<!-- Single Tab Content End -->
										<!-- Single Tab Content Start -->
										<!-- Single Tab Content Start -->
										<div class="tab-pane fade" id="payment-method" role="tabpanel">
											<div class="myaccount-content">
												<h3>Phương thức thanh toán</h3>
												<p class="saved-message">Bạn chưa liên kết tài khoản ngân hàng.</p>
											</div>
										</div>
										<!-- Single Tab Content End -->
										<!-- Single Tab Content Start -->
										<div class="tab-pane fade" id="address-edit" role="tabpanel">
											<div class="myaccount-content">
												<h3>Địa chỉ nhận hàng</h3>
												<address>
													<p><strong>Nguyễn Văn A</strong></p>
													<p> KTX Đại học Nông Lâm TP.HCM <br>
													Khu phố 6, P.Linh Trung, TP.Thủ Đức, TP.HCM</p>
													<p>Điện Thoại: 0123456789</p>
												</address>
												<a href="#" class="theme-btn"><i class="fa fa-edit"></i>Thay Đổi địa chỉ</a>
											</div>
										</div>
										<!-- Single Tab Content End -->
										<!-- Single Tab Content Start -->
										<div class="tab-pane fade" id="account-info" role="tabpanel">
											<div class="myaccount-content">
												<h3>Cập nhật Thông tin</h3>
												<div class="account-details-form">
													<form action="#">
														<div class="row">
															<div class="col-lg-6 col-12 mb-30">
																<input id="first-name" placeholder="Họ và Tên Đệm" type="text">
															</div>
															<div class="col-lg-6 col-12 mb-30">
																<input id="last-name" placeholder="Tên" type="text">
															</div>
															<div class="col-12 mb-30">
																<input id="display-name" placeholder="Tên Hiển thị" type="text">
															</div>
															<div class="col-12 mb-30">
																<input id="email" placeholder="Địa chỉ Email" type="email">
															</div>
															<div class="col-12 mb-30"><h4>Thay đổi mật khẩu</h4></div>
															<div class="col-12 mb-30">
																<input id="current-pwd" placeholder="Mật khẩu hiện tại" type="password">
															</div>
															<div class="col-lg-6 col-12 mb-30">
																<input id="new-pwd" placeholder="Mật khẩu mới" type="password">
															</div>
															<div class="col-lg-6 col-12 mb-30">
																<input id="confirm-pwd" placeholder="Xác nhận mật khẩu" type="password">
															</div>
															<div class="col-12">
																<button class="theme-btn">Lưu Thay đổi</button>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
										<!-- Single Tab Content End -->
									</div>
								</div>
								<!-- My Account Tab Content End -->
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="single-footer contact-block">
								<h3 class="footer-title">Thông tin liên hệ</h3>
								<div class="single-footer-content">
									<p class="text-italic">PetMark cung cấp sản phẩm chất lượng, phù hợp với nhu cầu sử dụng, đảm bảo sức khỏe chăn nuôi</p>
									<p class="font-weight-500 text-white"><span class="d-block"></span>
								Đại học Nông Lâm Tp.HCM<br> +84-012-345-678</p>
								<p class="social-icons">
									<a href="#"><i class="fab fa-facebook-f"></i></a>
									<a href="#"><i class="fab fa-twitter"></i></a>
									<a href="#"><i class="fab fa-instagram"></i></a>
									<a href="#"><i class="fab fa-linkedin-in"></i></a>
									<a href="#"><i class="fas fa-rss"></i></a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-sm-6">
						<div class="single-footer contact-block">
							<h3 class="footer-title">Liên kết nhanh</h3>
							<div class="single-footer-content">
								<ul class="footer-list">
									<li><a href="#">Trang chủ</a></li>
									<li><a href="#">Sản phẩm</a></li>
									<li><a href="#">Giỏ hàng</a></li>
									<li><a href="#">Blog</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-sm-6">
						<div class="single-footer contact-block">
							<h3 class="footer-title">Hỗ trợ khách hàng</h3>
							<div class="single-footer-content">
								<ul class="footer-list">
									<li><a href="#">FAQ</a></li>
									<li><a href="#">Liên hệ</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-footer contact-block">
							<h3 class="footer-title">Theo dõi chúng tôi</h3>
							<div class="single-footer-content">
								<p>
									Đăng ký PetMark để nhận thông tin cập nhật về sản phẩm mới, những ưu đãi đặc biệt và chương trình giảm giá khác.
								</p>
								<div class="pt-2">
									<div class="input-box-with-icon">
										<input type="text" placeholder=" Email">
										<button><i class="fas fa-envelope"></i></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-block-2 text-center">
					<ul class="footer-list list-inline justify-content-center">
					</ul>
					<ul class="footer-list list-inline justify-content-center">
					</ul>
					<div class="payment-block pt-3">
						<img src="image/icon-logo/payment-icons.png" alt="">
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<p>© Petmark, 2022. Thiết kế bởi Nhóm 30 ❤️ </p>
			</div>
		</footer>
	</div>
	<script src="js/plugins.js"></script>
	<script src="js/ajax-mail.js"></script>
	<script src="js/custom.js"></script>
</body>
</html>